@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");

$main-color: rgba(4, 167, 119, 0.8);
$main-text-color: #fff;
$secondary-text-color: #333;
$auxiliar-text-color: #999;
$emphasis-color: #ff3654;
$section-background-color: #fff;
$banner-background-color: #2d2d2a;
$title-font: "Lato", sans-serif;
$main-font: "Roboto", sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin card {
  display: flex;
  justify-content: center;
}
%button {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  border: solid 3px $main-text-color;
  font-family: $main-font;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: $main-text-color;
  background: transparent;
}

body {
  margin: 0;
  .header-container {
    background-color: $main-color;
    height: 900px;
    nav {
      @include flex-center;
      justify-content: space-between;
      height: 40px;
      padding: 20px;
      border: solid 2px rgba(0, 0, 0, 0.1);
      .header-menu {
        color: $main-text-color;
        font-size: 16px;
        font-family: $main-font;
        ul {
          display: flex;
          list-style: none;
          li {
            margin-right: 20px;
          }
        }
      }
      .header-logo {
        font-family: $title-font;
        font-size: 24px;
        color: $main-text-color;
      }
    }
  }
}

header {
  @include flex-center;
  flex-direction: column;
  background-image: linear-gradient($main-color, $main-color),
    url(./Imagenes/header-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;

  button {
    @extend %button;
  }
  .title {
    width: 520px;
    color: $main-text-color;
    font-family: $title-font;
    font-size: 64px;
    text-align: center;
  }
  .description {
    width: 520px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: $main-text-color;
  }
}
.product-description {
  background-color: $section-background-color;
  padding: 150px 70px 70px 135px;
  .title {
    font-family: $title-font;
    font-size: 36px;
    color: $secondary-text-color;
    margin-bottom: 40px;
  }
  .subtitle {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 300;
    color: $auxiliar-text-color;
  }
  .description {
    @include flex-center;
    .text {
      margin-right: 75px;
      flex: 1;
      p {
        margin: 60px 0 100px 0;
        font-family: $main-font;
        font-size: 20px;
        line-height: 1.5;
        color: $secondary-text-color;
      }
    }
    .image {
      flex: 1;
      width: 600px;
      img {
        width: 100%;
        height: auto;
      }
    }
    button {
      @extend %button;
      background-color: $emphasis-color;
    }
  }
}
.banner {
  @include flex-center;
  height: 250px;
  background-color: $banner-background-color;
  font-family: $title-font;
  font-size: 48px;
  text-align: center;
  color: $main-text-color;
}
.heading {
  background-color: $main-color;
  height: 900px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  .card {
    width: 720px;
    margin-left: 70px;
    .title-heading {
      color: $main-text-color;
      font-size: 36px;
      font-family: $title-font;
      width: 135px;
      height: 43px;
    }
    .description-heading {
      color: $main-text-color;
      font-size: 20px;
      font-family: $main-font;
      width: 420px;
      height: 120px;
      margin-top: 30px;
    }
    button {
      @extend %button;
      float: right;
      margin: 50px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  .footnotes-container {
    font-family: $main-font;
    font-size: 20px;
    width: 340px;
    height: 180px;
    .copy {
      font-size: 14px;
    }
  }
  .lists {
    display: flex;
    font-family: $main-font;
    font-size: 20px;
    width: 400px;
    height: 210px;

    ul {
      list-style: none;
      margin-right: 40px;
    }
  }
}
